.myclass {
  color: crimson;
  font-size: 30px;
}

.home-bg {
  background-image: url("/public/back_img.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.nav-item .active {
  font-weight: bold;
  border-bottom: 2px solid blueviolet;
  color: blueviolet !important;
}

.background--custom {
  background: linear-gradient(90deg, #a4baf5, #c8e74d, #f5a2a1);
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  position: absolute;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.glass-card {
  background-color: #ffffff7c;
  backdrop-filter: blur(30px);
}
