body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210814/pngtree-blue-purple-simple-gradient-background-image_760572.jpg'); 
    background-size: cover;
    background-position: center;
  }
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 2rem;
  }
  
  .movie1-info {
    display: flex;
    align-items: right;
    margin-bottom: 2rem;
  }

  .movie1-info img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 1rem;
  }

  .movie2-info {
    display: flex;
    align-items: left;
    margin-bottom: 2rem;
  }
  
  .movie2-info img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 1rem;
  }
  
  .movie-details {
    flex: 1;
  }
  
  h2 {
    margin-top: 1;
  }
  
  .booking-form {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 8px;
    align-items: left;
  }
  
  label, input, select {
    display: block;
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  